@keyframes ease-in-desc {
  0% {
    display: none;
    background-color: rgba(0, 0, 0, 0);
  }

  1% {
    display: block;
  }

  100% {
    display: block;
    background-color: rgba(0, 0, 0, 0.8);
  }
}

@keyframes ease-out-desc {
  0% {
    display: block;
    background-color: rgba(0, 0, 0, 0.8);
  }

  99% {
    display: none;
  }

  100% {
    display: none;
    background-color: rgba(0, 0, 0, 0);
  }
}

@keyframes ease-in-desc-text {
  0% {
    opacity: 0;
  }

  50% {
    opacity: 0;
    margin-top: 1em;
  }

  100% {
    margin-top: 1px;
    opacity: 1;
  }
}

@keyframes ease-out-desc-text {
  0% {
    opacity: 1;
  }

  50% {
    opacity: 0;
    margin-top: 1em;
  }

  100% {
    opacity: 0;
    display: none;
  }
}

body {
  margin: 0;
  background: #82d7ff;
  font-family: "Ubuntu", sans-serif;
}

.art {
  grid-area: art;
  display: flex;
  align-items: center;
}

.art > img {
  object-fit: contain;
  width: 100%;
  height: 100%;
}

.logo {
  grid-area: logo;
  background-image: url(logo-full.svg);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.logo > img {
  width: auto;
  height: 100%;
}

.nav {
  display: flex;
  grid-area: nav;
}
.nav > ul > li {
  background: #95deff;
  box-shadow: 5px 5px #7ecff4;
}

.desc {
  grid-area: desc;
  padding-left: 1.5em;
  background: #95deff;
  box-shadow: 5px 5px #7ecff4;
}

.cont {
  display: none;
  grid-area: cont;
  background: #151515;
}

.played-1 {
  grid-area: played-1;
  background: #95deff;
  box-shadow: 5px 5px #7ecff4;
}
.played-2 {
  grid-area: played-2;
  background: #95deff;
  box-shadow: 5px 5px #7ecff4;
}
.played-3 {
  grid-area: played-3;
  background: #95deff;
  box-shadow: 5px 5px #7ecff4;
}
.played-4 {
  grid-area: played-4;
  background: #95deff;
  box-shadow: 5px 5px #7ecff4;
}

@media only screen and (min-width: 1025px) {
  .container {
    display: grid;
    padding: 1em;
    height: 100vh;
    box-sizing: border-box;
    grid-gap: 1em;
    grid-template-rows: 0.5fr 0.5fr 0.5fr 4fr 0.5fr 0.5fr 1fr;
    grid-template-columns: 0.5fr 2fr 2fr 2fr 2fr 0.5fr;
    grid-template-areas:
      ".        logo        .           nav         nav         ."
      ".        .           .           .           .           ."
      ".        art         art         .           .           ."
      ".        art         art         desc        desc        ."
      ".        art         art         .           .           ."
      ".        .           .           .           .           ."
      ".        played-1    played-2    played-3    played-4    .";
  }
}

@media only screen and (max-width: 1024px) and (orientation: landscape) {
  .container {
    display: grid;
    padding: 1em;
    height: 100vh;
    box-sizing: border-box;
    grid-gap: 1em;
    grid-template-rows: 1fr 0.5fr 0.5fr 4fr 0.5fr 0.5fr 1fr;
    grid-template-columns: 2fr 2fr 2fr 2fr;
    grid-template-areas:
      "logo         .           nav         nav"
      ".            .           .           ."
      "art          art         .           ."
      "art          art         desc        desc"
      "art          art         .           ."
      ".            .           .           ."
      "played-1     played-2    played-3    played-4";
  }
}

@media only screen and (max-width: 1024px) and (orientation: portrait) {
  .container {
    display: grid;
    height: 100vh;
    box-sizing: border-box;
    grid-template-rows: 0.3fr 3fr 1.5fr 0.5fr;
    grid-template-columns: 1fr 1fr 2fr 2fr 2fr;
    grid-template-areas:
      "nav          .           logo        logo        .   "
      "art          art         art         art         art "
      "art          art         art         art         art "
      "cont         cont        cont        cont        cont";
  }
  .played-1,
  .played-2,
  .played-3,
  .played-4 {
    display: none;
  }

  .art > img {
    object-fit: cover;
  }

  .desc {
    background: rgba(0, 0, 0, 0.8);
    color: white;
    grid-column-start: 1;
    grid-column-end: span 6;
    grid-row-start: 3;
    grid-row-end: 4;
    text-align: center;
    padding: 0.5em;
    animation: ease-in-desc 0.6s forwards;
  }

  .desc > h1 {
    animation-duration: 0.6s;
    animation: ease-in-desc-text 0.6s forwards;
  }

  h1 {
    font-size: 1em;
    line-height: 1em;
  }

  .logo {
    margin: 5px;
  }

  .cont {
    display: block;
  }
}
